<template>
  <div>
    {{ message }}
    <div v-if="initialized">
      <h1>Initialized</h1>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return { 
      message: "Hello Vue!",
      initialized: false,
    };
  },
  mounted() {
    setTimeout(() => {
      this.initialized = true
    }, 1000)
  }
};
</script>